body {
  margin: 0;
  padding: 0;
}
#app {
  font-family: 'Fredoka One', cursive;
  width: 800px;
  height: 400px;
  background: #ab2323;
  position: relative;
  overflow: hidden;
  left: 0;
  top: 0;
}
#title, #over {
  color: white;
  text-shadow: 3px 3px 3px #3469a5;
  display: none;
}
#title-text, #over-text {
  font-size: 80px;
  margin: 45px 0 0 40px;
  letter-spacing: 2px;
}
#start-button, #retry-button {
  position: absolute;
  right: 45px;
  bottom: 45px;
  font-size: 100px;
  cursor: pointer;
}
#start-button:hover, #retry-button:hover {
  color: #fff5b7;
}
#score-text {
  font-size: 50px;
  margin: 30px 0 0 40px;
  letter-spacing: 2px;
}

#ranking-form {
  margin: 20px 0 0 0;
  display: none;
}
#ranking-name {
    font-size: 14px;
  border: 1px solid #ccc;
  margin: 0;
  padding: 4px 8px;
  width: 160px;
}
#ranking-comment {
  font-size: 14px;
  border: 1px solid #ccc;
  margin: 0;
  padding: 4px 8px;
  width: 450px;
}
#ranking-button {
  font-size: 13px;
  border: 0px solid #ccc;
  background: #b70c0c;
  color: white;
  font-weight: bold;
  margin: 0;
  padding: 4px 8px;
  width: 100px;
}

#ranking-table {
  border-collapse: collapse;
  margin: 20px 0 0 0;
}
#ranking-table th, #ranking-table td {
  border: 2px solid #c4cfd1;
  margin: 0;
  padding: 4px 8px;
  font-size: 13px;
}
#ranking-table th {
  background: #0f8bd7;
  color: white;
}
#ranking-table tr:nth-child(even) {
  background: #f4f6ff;
}
